
build:
  stage: build
  script:
    - cd backend
    - mvn compile

test:
  stage: test
  script:
    - cd backend
    - mvn test

sonarqube:
  stage: test
  script:
    - cd backend
    - mvn sonar:sonar