stages:
  - build
  - test
  - sonarqube
build:
  stage: build
  script:
    - cd backend
    - mvn compile
test:
  stage: test
  script:
    - cd backend
    - mvn test

sonarqube:
  stage: sonarqube
  script:
    - cd backend
    - mvn clean deploy sonar:sonar
