stages:
  - build
  - test
  - sonarqube
  - docker
build:
  stage: build
  script:
    - cd backend
    - mvn compile
test:
  stage: test
  script:
    - cd backend
    - mvn test

sonarqube:
  stage: sonarqube
  script:
    - cd backend
    - mvn clean deploy sonar:sonar

before_script:
  - docker info

build_image:
  stage: docker
  script:
    - cd backend
    - docker build -t my-docker-image .
    - docker run my-docker-image 